@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&family=DM+Sans&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Syne', sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #000;
}

.logo-and-name img {
  height: 50px;
}

.logo-and-name span {
  font-family: 'Syne', sans-serif;
  margin-left: 10px;
}


.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  background-color: #fff;
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #000000;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: black;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

@media (min-width: 300px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-item {
  background: #fff;
  border: 1px solid #000000;
  padding: 20px;
  cursor: pointer;
}

.grid-item.expanded {
  grid-column: span 2;
}

.video-wrapper {
  position: relative;
  width: 100%; /* Adjust based on your preference */
  padding-top: 56.25%; /* Aspect ratio (16:9) - Adjust if your video has a different aspect ratio */
}

.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000; /* Text color */
}

.video-overlay p {
  margin: 0;
  padding: 10px; /* To ensure text doesn't touch the edges */
  text-align: center;
}

.text-content {
  text-align: center;
  color: #000; /* Adjust text color as needed */
}

.text-content p {
  margin: 0;
  max-width: 350px;
}