@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&family=DM+Sans&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: white;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Syne', sans-serif;
  margin: 20px;
}

h2{
  font-family: 'Syne',sans-serif;
  margin-left: 20px;
}

h3{
  margin-left: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #242424;
  position: relative;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  perspective: 1000px;
  transition: transform 1s ease;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  position: relative;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  align-items: center;
  margin: 10px;
  perspective: 1000px;
  transition: transform 1s ease;
  z-index: 1;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.logo-and-name img {
  height: 40px;
}

.logo-and-name span {
  font-family: 'Syne', sans-serif;
  margin-left: 30px;
}

.menu-icon{
  font-size: 21px;
  padding-right: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.dropdown-menu ul li {
  padding: 6px 10px;
  border: 1px solid #1a1a1a;
  background-color: #ffffffdf;
  border-radius: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  text-align: center;
}

.dropdown-menu ul li:hover{
  background-color: #dcdcdc;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #1a1a1a;
  display: block;
}

a {
  color: rgb(92, 160, 255);
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  font-weight: 600;
  color: rgb(61, 118, 199);
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a; /* Text color */
}

.video-overlay p {
  margin: 0;
  padding: 10px; /* To ensure text doesn't touch the edges */
  text-align: center;
}

.text-content {
  text-align: center;
  color: #1a1a1a; /* Adjust text color as needed */
}

.text-content p {
  margin: 0;
  max-width: 350px;
}

ol{
  padding-left: 20pxpx;
  padding-bottom: 5px;
  margin-bottom: -10px;
  border-bottom: solid 1px rgb(92, 160, 255);
}

.fade-in{
  opacity: 0;
  transform: translateY(20%);
  transition: all 1.4s ease-in-out;
}

.active{
  opacity: 1;
  transform:translateY(0);
}

p {
  margin: 20px;
}

button{
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 20px;
  background-color: #1a1a1a;
  border: none;
  color:#fff;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
}

.horizontalmenu{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #1a1a1a;
  padding: 5px 20px;
}

.horizontalmenul{
  float: left;
  font-style: normal;
}

.horizontalmenul a{
  display: block;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.horizontalmenul :hover{
  background-color: #242424;
  border-radius: 5px;
}

.skill {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #27242e;
  border-radius: 5px;
}

.skill-bar {
  height: 20px;
  background: linear-gradient(90deg,#d84c6d, #4283d1);
  border-radius: 5px;
  text-align: right;
  line-height: 20px;
  color: white;
  width: 0%;
  transition: width 2s ease-out;
}

.skill-text {
  margin-left: 20px;
  margin-top: 8px;
}

#light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; /* Adjust size of light effect */
  height: 100px; /* Adjust size of light effect */
  border-radius: 50%;
  background:radial-gradient(circle, rgb(32, 162, 255) 0%,rgb(255, 44, 125) 65%);
  mix-blend-mode: lighten;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0; /* Initially hidden */
  filter: blur(14px);
}

.portcards {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #242424;
  position: relative;
  align-items: left;
  margin: 10px;
  border-radius: 10px;
  perspective: 1000px;
  transition: transform 1s ease;
  z-index: 1;
}

.portcardimg {
  margin: 20px;
  border-radius: 6px;
}

.portlink {
  color:#1a1a1a;
}

.porttop{
  margin-top: 45px;
  margin-bottom: 45px;
}

.landing{
  font-size: 35px;
  text-align: left;
  margin: 20px;
}